.header {
  @extend %f-center;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: $clr-mn;
  padding: $i16 $i20;
  gap: $i8;
  z-index: 99;

  .logo {
    width: 8.0625rem;
    height: 2rem;
    background: {
      image: url("../svg/art/logo.svg");
      repeat: no-repeat;
      size: contain;
      position: center;
    }
    margin-right: auto;

    @media (min-width: 35.5rem) {
      min-width: 11.0625rem;
    }
  }

  a {
    &[data-icon] {
      &:hover {
        --x: 4;
      }
    }
  }

  .icon--element {
    color: $clr-f;
    font-size: $f24;
    font-weight: 900;
    line-height: 120%;

    @include __667 {
      font-size: 0;
      gap: 0;
    }

    @include not-last(0);

    &[data-icon] {
      --w: 2rem;
      --h: 2rem;
    }

    &:hover {
      color: $clr-mn-2;
    }
  }

  .burger--menu {
    margin-inline: $i8;

    @include __367 {
      font-size: 0;
      gap: 0;
      margin-inline: 0;
      order: 1;

      .burger {
        padding: 0.0625rem;
      }
    }
  }

  &--link {
    &-icon {
      @include square-ava();
      display: block;
      color: $clr-f;

      @extend %svg-current;

      &:hover {
        color: $clr-mn-2;
      }
    }
  }

  &--mr {
    margin-inline-end: auto;
  }

  &--std {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $i16 $i20;

    @include not-last($i16);
  }

  &--phones {
    display: flex;
    align-items: center;
    column-gap: $i32;

    @media (max-width: 60.4375rem) {
      display: none;
    }

    a {
      text-wrap: nowrap;
      column-gap: 0.5rem;

      svg {
        --ava: #{$i28};

        [stroke] {
          stroke: currentColor;
        }
      }
    }

    .icon--element {
      @media (max-width: 64rem) {
        font-size: 1.25rem;
        font-weight: 400;

        svg {
          --ava: 1.5rem;
        }
      }
    }
  }

  &--icons {
    display: flex;
    align-items: center;
    column-gap: $i24;
    margin-right: $i56;

    @media (max-width: 72.9375rem) {
      margin-left: $i64;
    }

    @media (max-width: 67.5rem) {
      margin-inline: $i24 $i16;
    }

    @media (max-width: 64rem) {
      .social--link {
        --ava: 1.5rem;
        --w: 1.5rem;
        --h: 1.5rem;
      }
    }

    @media (max-width: 26.5625rem) {
      display: none;
    }
  }
}
