.cart {
  @include cart();
  overflow: hidden;

  &:hover {
    a.btn {
      transform: translateY(0);
    }
  }

  .title {
    font-size: $h3;
    font-weight: 600;
    line-height: 120%;

    &:not(:hover) {
      color: $clr;
    }
  }

  .subtitle {
    color: $clr-g-35;

    &[data-box-types] {
      &:empty {
        display: block;
      }

      &::after {
        content: attr(data-box-types);
      }
    }
  }

  .ava {
    @extend %fit-cover;
    height: 9.6875rem;
  }

  .rent {
    @include not-last(0);
  }

  a.btn {
    position: absolute;
    inset: auto 0 0 0;
    max-width: 100%;
    transform: translateY(100%);
  }

  &--header {
    display: flex;
    justify-content: space-between;
    column-gap: $i20;
  }

  &--new {
    position: relative;
    border: $ln-g-15;

    .ava {
      width: 100%;
      aspect-ratio: 413/219;
      min-height: 9.375rem;
      max-height: 13.6875rem;
      margin: -0.0625rem;
      inline-size: -webkit-fill-available;
      border-radius: 0 0 $br $br;
      object-fit: cover;
      overflow: hidden;
    }

    .new--category {
      position: absolute;
      top: $i16;
      left: $i16;
    }

    .content {
      max-height: 10.5rem;
      margin: $i24;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 6;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    time {
      font-size: $f16;
      color: $clr-g-35;

      @include not-last($i8);
    }

    .title {
      font-weight: 500;
      font-size: $h4;

      @include not-last($i16);
    }
  }

  &--presentment {
    @extend %f-column;
    @extend %mt-last-child;

    @media (min-width: 60.5rem) {
      padding-inline: $i32;
    }

    .title {
      font-weight: 600;
      font-size: $h3;

      &:not(:last-child) {
        padding-block-end: $i16;
        margin-block-end: $i16;
        border-bottom: $ln-g-15;
      }

      &[data-before-ava] {
        &::before {
          margin-block-end: $i8;
        }
      }
    }

    p {
      color: $clr-g-80;

      @include not-last($i16);
    }
  }

  &--attention {
    @include cart($clr-bg);
    @include not-first-last($i16, $i16);

    .name {
      font-size: $h4;
      font-weight: 500;
      line-height: 120%;

      @include not-last($i16);

      &:before {
        --ava: 1.5rem;
        content: "";
        position: relative;
        top: 0.15em;
        display: inline-block;
        min-width: var(--ava);
        width: var(--ava);
        height: var(--ava);
        margin-inline-end: 0.5rem;

        @include bg-contain("../svg/art/warning.svg");
      }
    }
  }

  &--notification {
    @include cart($clr-notification);
    @include not-first-last($i32, $i32);
    @include bg-contain("../svg/art/notification.svg");
    width: 100%;
    padding-inline-start: calc($i32 + $i64 + $i20);
    background-size: $i64;
    background-position-x: $i32;

    @include __467 {
      padding-block-start: calc($i32 + 4rem);
      padding-inline-start: $i32;
      background: {
        size: 4rem;
        position: {
          x: center;
          y: $i32;
        }
      }
    }

    .name {
      font-size: $h4;
      font-weight: 500;
      line-height: 120%;

      @include not-last($i8);
    }

    .btn--close {
      --size: 1rem;
      position: absolute;
      top: $i16;
      right: $i16;
    }
  }

  &--preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $clr-f;
    border-radius: 1rem;
    column-gap: $i20;
    overflow: hidden;

    @include __1067 {
      grid-template-columns: 100%;
    }

    .content {
      width: 100%;
      padding: $i64;

      .title {
        @include not-last($i32);
      }
    }

    .preview {
      @extend %fit-cover;

      @include __1067 {
        order: -1;
      }
    }
  }

  &--grey {
    background-color: $clr-bg;
    border-radius: $i4;
    padding: $i8 $i16;

    @include not-last($i16);
  }

  &--statistics {
    &-numbers {
      background-color: $clr-f;
      border-radius: $i4;
      padding: $i32 $i64;

      @include __1067 {
        padding: $i32;
      }

      .title {
        @extend %flex-center;
        flex-direction: column;
        font-size: $h3;

        body & {
          @include not-last($i8);
        }

        &[data-num] {
          &::before {
            content: attr(data-num);
            color: $clr-mn;
            text-align: center;
            font-size: $i72;
            font-weight: 800;
            line-height: 120%;
          }
        }
      }

      .numbers {
        text-align: center;
      }
    }
  }

  &--order {
    @include cart($clr-f, $i32);
    @include not-last($i20);
    width: 100%;

    .content {
      display: flex;

      @include __667 {
        flex-direction: column;
      }

      .ava {
        max-width: 13.4375rem;
        width: 100%;
        aspect-ratio: 215/141;

        @include __667 {
          max-width: 100%;
        }

        img {
          @extend %fit-contain;
        }
      }
    }

    .price {
      font-size: $h3;

      &[data-title] {
        &:before {
          content: attr(data-title);
          display: inline-block;
          font-size: $i16;
          font-weight: 400;
          line-height: 150%;
          color: $clr-g-55;
          margin-inline-end: $i4;
        }
      }
    }

    &-table {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: $i16;

      @media (max-width: 74.375rem) AND (min-width: 73rem),
        (max-width: 54.1875rem) {
        grid-template-columns: 100%;

        time {
          margin-inline-start: auto;
        }
      }

      @include not-last($i16);

      .address {
        grid-column: span 3;

        @media (max-width: 74.375rem) AND (min-width: 73rem),
          (max-width: 54.1875rem) {
          grid-column: 1/-1;
        }
      }

      time {
        font-size: $i16;
        color: $clr;
      }
    }
  }

  &--form {
    @extend %f-column;
    @include cart($clr-f, $i32);
    align-items: center;
    max-width: 39.375rem;
    width: 100%;
    margin-inline: auto;

    .title {
      text-align: center;
    }

    form {
      max-width: 25.875rem;
      width: 100%;

      button {
        max-width: 100%;
      }

      .name {
        color: $clr;

        @include not-last(0);
      }

      .fake-label {
        @include not-last($i16);
      }
    }
  }

  &--address {
    &:not(:first-child) {
      padding-block-start: 1rem;
      border-top: $ln-g-35;
    }
    &:not(:last-child) {
      padding-block-end: 1rem;
    }

    .name {
      @extend %f-center;
      @include not-last($i20);
      flex-wrap: wrap;
      gap: 0.5rem;

      &::before {
        content: "";
        @include square-ava($i32);
        @include bg-contain("../svg/art/bookmark.svg");
      }

      .subtitle {
        color: $clr;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    address {
      @extend %f-center;
      @include not-last(0.5rem);
      gap: 0.5rem;

      &::before {
        content: "";
        @include square-ava();
        @include bg-contain("../svg/art/loc-light.svg");
      }

      @include __567 {
        flex-wrap: wrap;
      }
    }

    time {
      @extend %f-center;
      @include not-last(1rem);
      flex-wrap: wrap;
      color: $clr;
      font-size: 1rem;
      gap: 0.5rem;

      &::before {
        content: "";
        @include square-ava();
        @include bg-contain("../svg/art/time.svg");
      }
    }

    .link--line {
      font-size: 1rem;
      font-weight: 400;
      line-height: 150%;
    }
  }

  &--add-services {
    @extend %f-column;
    @include cart();
    @include not-hover-color($clr);
    width: 100%;
    font-size: $h4;
    font-weight: 500;
    gap: 0.5rem;

    .name {
      flex-direction: row-reverse;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 0.625rem;

      @include __367 {
        flex-direction: column;
        align-items: start;
      }
    }

    .price {
      color: $clr-mn;
      font-size: $h3;
      margin-block-start: auto;

      .subtitle {
        color: $clr-g-55;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }

  &--auto {
    @include cart($clr-f, $i32);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: $i20;

    @include __1067 {
      grid-template-columns: 100%;
    }

    .title {
      @include not-last($i16);
    }

    .price {
      font-weight: 500;
      @include not-last($i32);

      .subtitle {
        font-size: 1rem;
      }
    }

    .cart--grey {
      width: fit-content;
    }

    .mini-static {
      @media (max-width: 89.0625rem) {
        justify-content: start;
      }
    }

    .btns {
      @include not-first-last($i32, $i32);
    }

    .scroll-table {
      overflow-x: auto;

      table {
        width: 35.4375rem;
      }
    }
  }

  &--servese {
    @extend %bg-cover;
    font-size: $h3;
    font-weight: 600;
    line-height: 120%;
    width: 100%;
    height: auto;
    min-height: max-content;
    max-height: 18.75rem;
    padding: $i32;
    border-radius: 0.25rem;
    border-radius: 4px;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 65.57%
      ),
      var(--image);

    &:not(:hover) {
      color: $clr-f;
    }

    @media (min-width: 41.875rem) {
      aspect-ratio: 1/1;
    }
  }

  &--stock {
    @extend %f-column;
    width: 100%;

    @media (max-width: 43.6875rem) and (min-width: 35.4375rem) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .price {
      position: relative;
      font-size: $h3;
      width: 100%;
      height: 0;
      column-gap: $i8;
      margin-bottom: 0;
      z-index: 1;

      @media (max-width: 43.6875rem) {
        grid-column: 1 / -1;
        height: fit-content;
      }

      &[data-discount] {
        &:before {
          font-weight: 700;

          @media (min-width: 21.875rem) {
            position: absolute;
            top: 0;
            right: 0;
          }

          @media (min-width: 72.9375rem) {
            font-size: $h1;
          }

          @media (max-width: 72.9375rem) {
            font-size: $h2;
          }
        }
      }
    }

    .ava {
      height: 18.75rem;
      object-fit: contain;
      margin-top: calc(-1 * $i20);

      @media (max-width: 29.1875rem) {
        height: auto;
        margin-top: 0;
      }
    }

    .cart--grey {
      margin-top: auto;
      transition: 0.1s background-color;

      @media (max-width: 43.6875rem) and (min-width: 35.4375rem) {
        margin-bottom: auto;
      }

      p {
        @include not-last(0.25rem);
        line-height: 150%;
        transition: 0.1s color;
      }

      .name {
        color: $clr-g-80;
        font-size: $f12;
      }
    }

    .link--full {
      @media (hover: hover) {
        &:hover {
          ~ .cart--grey {
            background-color: $clr-mn;

            p,
            b {
              color: $clr-f;
            }

            .name {
              color: $clr-f;
            }
          }
        }
      }
      @media (hover: none) {
        &:active {
          ~ .cart--grey {
            background-color: $clr-mn;

            p,
            b {
              color: $clr-f;
            }

            .name {
              color: $clr-f;
            }
          }
        }
      }
    }
  }
}
