%bg-image {
  background: {
    repeat: no-repeat;
    position: center;
  }
}

%bg-contain {
  @extend %bg-image;
  background: {
    size: contain;
  }
}

%bg-cover {
  @extend %bg-image;
  background: {
    size: cover;
  }
}
