%full-100 {
  width: 100%;
  height: 100%;
}
%fit-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
%fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%square-ava {
  flex: 0 0 var(--ava);
  width: var(--ava);
  height: var(--ava);
}
