%abs-50 {
  position: absolute;
  top: 50%;
  left: 50%;
}

%abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%inset {
  position: absolute;
  inset: 0;
}

%z1 {
  position: relative;
  z-index: 1;
}

%circle-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--ava);
  height: var(--ava);
  border-radius: 50%;
}
