.tabs {
  display: flex;

  @include __967 {
    flex-wrap: wrap;
  }

  &--content {
    background-color: $clr-f;
    border-radius: $i4;
    padding: $i24;

    .content {
      --gap: 0.625rem;

      &:not(.active) {
        display: none !important;
      }
    }
  }
}
.tab {
  @extend %flex-center;
  text-align: center;
  width: fit-content;
  background-color: $clr-f;
  color: $clr;
  border: $ln-g-15;
  border-color: $clr-f;
  border-bottom-color: $clr-g-15;
  border-radius: $i4 $i4 0 0;
  padding: $i16 $i32;

  @include __467 {
    max-width: 100%;
    width: 100%;
  }

  &:hover,
  &.active {
    border-color: $clr-mn;
    background-color: $clr-f;
    color: $clr;
  }

  &.active {
    pointer-events: none;
  }
}

.logo,
.type {
  &--car {
    @extend %flex-center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: $clr-f;
    color: $clr;
    border: $ln-g-15;
    border-radius: $i4;
    padding: $i8 0;
    gap: $i8;
    font-size: $i16;

    &.active {
      border-color: $clr-mn;
    }

    @media (hover: hover) {
      &:hover {
        border-color: $clr-mn;
      }
    }

    @media (hover: none) {
      &:active {
        border-color: $clr-mn;
      }
    }

    .ava {
      width: 4rem;
      height: 4rem;
      object-fit: contain;
    }
  }
}

.type {
  &--car {
    &[data-id] {
      --h: 1.75rem;

      &:before {
        @include sprite("../svg/combo/type_car.svg", 9, var(--w));
      }
    }
  }
}

.logo {
  &--car {
    &[data-id] {
      --h: 4rem;

      &:before {
        @include sprite("../svg/combo/logo.svg", 10);
      }
    }
  }
}
