.form {
  @extend %f-column;
  position: relative;
  gap: $i8;

  &--section {
    align-items: center;

    @extend %f-column;
    @include cart($clr-f, $i32);
    @include container-inline(52.875rem);

    fieldset {
      width: 100%;
      @include not-first-last($i24, $i24);
    }

    [class*="grid-"] {
      gap: $i16 $i20;

      .label--reverse {
        @include not-last(0);
      }
    }

    button:not([type]),
    [type="submit"] {
      @include not-first-last($i24, $i24);
    }

    .title {
      width: 100%;
    }

    .description {
      @include not-last(0);
    }
  }

  &--number {
    @extend %f-center;
    position: relative;
    z-index: 1;
    width: fit-content;

    .btn--num {
      @extend %flex-center;
      width: 2rem;
      height: 2rem;
      border-color: $clr-mn;
      padding: 0;
    }
    .btn--num[data-step="down"] {
      border-radius: 0.25rem 0 0 0.25rem;
      font-size: $i32;

      &:after {
        content: "-";
      }
    }

    .btn--num[data-step="up"] {
      border-radius: 0 0.25rem 0.25rem 0;
      font-size: $i24;

      &:after {
        content: "+";
      }
    }
    body & input {
      position: initial !important;
      opacity: 1;
      z-index: 0;
      width: 4rem;
      height: 2rem;
      border-radius: 0;
      border-right: 0;
      border-left: 0;
      padding: 0.25rem;
      text-align: center;
    }
  }

  &--smart {
    max-width: 23.9375rem;
    width: 100%;
    margin-inline: auto;

    body & a.btn,
    .btn {
      @extend %flex-center;
      flex-direction: column;
      position: initial;
      max-width: 100%;
      transform: translateY(0);
      gap: $i8;

      @include not-first-last($i20, $i20);

      &.inviz {
        background-color: transparent;
        color: $clr-mn;
        border: $ln;

        &:hover {
          background-color: $clr-mn;
          color: $clr-f;
        }
      }
    }
  }
}

.label {
  &--reverse {
    @extend %f-column;
    text-align: start;
    gap: $i8;

    @include not-last($i16);

    .name {
      order: -1;
    }
  }
  &--file {
    position: relative;
    @extend %flex-center;
    font-weight: 500;
    font-size: $h4;
    max-width: 19.0625rem;
    width: 100%;
    background-color: transparent;
    color: $clr;
    border: $ln;
    border-radius: $i4;
    gap: $i8;
    padding: $i16;
    text-align: center;
    transition: 0.3s all;
    cursor: pointer;

    @include __467 {
      width: 100%;
    }

    &:before {
      content: "";
      transition: 0.3s background-image;
      @include bg-contain("../svg/art/add.svg");
      @include square-ava();
    }

    &:hover {
      background-color: $clr-mn;
      color: $clr-f;

      &:before {
        background-image: url("../svg/art/add-light.svg");
      }
    }

    input {
      @extend %abs-center;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }
  }
}

label {
  &.shifter {
    flex-direction: column-reverse;
    display: flex;
    gap: $i8;

    @include not-last($i16);
  }
}
