%dataBefore {
  &:before {
    content: "";
    @extend %bg-contain;
    @include square-ava($i24);
  }
}

@mixin dataType($art) {
  @extend %dataBefore;

  &:before {
    content: "";
    background-image: url($art);
  }
}

.inspire {
  &--select {
    position: relative;
    width: 100%;
    z-index: 1;

    .inspire--select-header,
    .content .inspire--select-header {
      height: auto;
    }

    @media (hover: hover) {
      .inspire--select-header {
        border: 0.0625rem solid transparent;
        transition: 0.1s border;

        &:hover {
          border-color: $clr-mn;
        }
      }
    }

    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $clr-blkt;
      z-index: 1;
      transition: 0.1s opacity;
      @extend %cursor;
    }

    &:not(.active) {
      &:before {
        @extend %no-active;
      }

      .content {
        @extend %no-active-op;
      }
    }

    &:not(.active) {
      &::before {
        opacity: 0;
      }
    }

    &.active {
      z-index: 2;
    }

    .content {
      position: absolute;
      top: calc(100% + 0.5rem);
      left: 0;
      width: 100%;
      border-radius: 0.25rem;
      transition: 0.1s opacity;
      z-index: 1;

      .title {
        font-size: $h3;

        @include not-last($i24);
      }
    }

    .address--map {
      display: grid;
      grid-template-columns: 1fr 20.3125rem;
      background-color: $clr-f;

      @include __767 {
        grid-template-columns: 100%;
      }

      .wrapper {
        padding: $i32;
      }

      .title {
        &:not(:first-child) {
          position: relative;
          padding-block-start: $i24;
          margin-block-start: $i24;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% + $i32 * 2);
            height: 0.0625rem;
            background-color: $clr-g-35;
          }
        }
      }

      .map {
        width: 100%;
        height: 100%;

        @include __767 {
          order: -1;
        }

        iframe {
          width: inherit;
          height: inherit;
          border: none;
        }
      }

      .triggers {
        align-items: start;

        &:not(:first-of-type) {
          padding-block-start: 1rem;
          border-top: $ln-g-15;
        }

        &:not(:last-of-type) {
          padding-block-end: 1rem;
        }

        .trigger {
          --ava: 1.5rem;
        }

        .name {
          font-size: $h5;
          font-weight: 500;
          line-height: 120%;

          @include not-last(0.5rem);
        }

        .time,
        .price {
          color: $clr-g-80;
          line-height: 120%;
        }

        .time {
          font-size: $f12;
        }

        .price,
        .free {
          font-size: $f16;
        }

        .free {
          color: $clr-mn;
        }

        .info {
          flex-wrap: wrap;

          .item {
            @extend %f-column;

            &:not(:last-child) {
              margin-inline-end: 0.5rem;
            }
          }
        }
      }

      .accordion {
        &.active {
          .title {
            @include not-hover-color($clr);
          }
        }

        &:not(.active) {
          .title {
            @include not-last(0px);
          }
        }

        .title {
          font-weight: 600;
          line-height: 120%;
          transition: 0.5s margin-block-end;
        }

        &--child {
          .contant {
            padding-block-start: $i24;
          }
        }
      }
    }

    .chips {
      display: inline;
      color: $clr-g-55;
    }

    .border {
      border: $ln-g-15;
    }

    &.width-smart {
      max-width: 16.25rem;
      width: 100%;
    }

    &[select-text] {
      .content {
        max-height: 64vh;
        overflow-y: auto;
      }
    }

    &-header {
      @extend %f-center;
      @extend %select;
      @include cart();
      width: 100%;
      padding-block: $i8;
      gap: $i12;
      cursor: pointer;

      &[data-type="point-issue"] {
        @include dataType($punkt);
      }

      &[data-type="point-start"] {
        @include dataType("../svg/art/point-start.svg");
      }

      &[data-type="point-end"] {
        @include dataType("../svg/art/point-end.svg");
      }

      &[data-type="date"] {
        @include dataType("../svg/art/calendar.svg");
      }

      &[data-type="time"] {
        @include dataType("../svg/art/clock.svg");
      }

      [data-output] {
        &:after {
          content: attr(data-output);
          display: block;
          color: $clr-g-35;
        }
      }
    }

    &-times {
      display: flex;

      .time-item {
        @include cart($clr-f, $i32);
        width: 100%;
        height: fit-content;
        margin-inline-start: auto;

        @media (min-width: 29.25rem) {
          max-width: 26.4375rem;
          min-width: 26.4375rem;
          width: 26.4375rem;
        }
      }

      .grid-2 {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.5rem;
        @include not-first-last($i24, $i16);

        @include __467 {
          grid-template-columns: 100%;
        }

        .title {
          color: $clr;
          font-size: 1rem;
          line-height: 150%;

          @include not-last(0);
        }
      }

      .cart--grey {
        .subtitle {
          color: $clr-g-35;
          @include not-last(0);
        }
      }

      .inspire--select {
        border: $ln-g-15;
        border-radius: $br;

        &:before {
          display: none;
        }

        .content {
          @include cart($clr-f, $i10);
          position: absolute;
          top: calc(100% + 0.5rem);
          left: 0;
          width: 100%;
          border: $ln-g-15;

          @include __467 {
            height: 12.5rem;
            overflow-y: auto;
          }

          .triggers {
            padding-block-end: 0.25rem;
            border-bottom: $ln;
            border-color: $clr-bg;

            &:not(:last-child) {
              margin-block-end: 0.5rem;
            }

            .trigger {
              --ava: 1.5rem;
              order: 1;
              margin-inline-start: auto;
            }
          }
        }
      }

      button {
        max-width: 100%;
        @include not-first-last($i16, $i16);
      }
    }
  }
  &-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 52.875rem;
    width: 100%;
    margin-inline: auto;
    gap: $i1;

    .inspire--select {
      &:nth-child(odd) {
        .content {
          left: 0;
        }
      }

      &:nth-child(even) {
        .content {
          left: auto;
          right: 0;
        }
      }

      &-header {
        height: 100%;
      }
    }

    .content {
      max-width: calc(200% + 0.0625rem);
      width: calc(200% + 0.0625rem);

      @include __867 {
        max-width: 100%;
        width: 100%;
      }
    }

    @include __867 {
      grid-template-columns: 100%;
    }
  }
}

.select {
  &--wrapper {
    --column: 9;
    display: grid;
    grid-template-columns: repeat(var(--column), 1fr);
    align-items: center;
    @include not-first-last($i8, $i8);

    @include __867 {
      --column: 8;
      gap: 0.25rem;
    }

    @include __367 {
      grid-template-columns: 100%;
    }

    &[data-title] {
      &::before {
        content: attr(data-title);
        color: $clr;
        font-size: 1rem;
        font-weight: 700;
        line-height: 150%;

        @include __867 {
          grid-column: 1/-1;
        }
      }
    }

    .inspire--select-header {
      height: 100%;
    }

    [select-address] {
      grid-column: span 4;

      @include __867 {
        grid-column: 1/-1;
      }

      .content {
        width: calc(var(--mw-container) / var(--column) * 8);

        @include __867 {
          width: 100%;
        }
      }
    }

    [select-date] {
      grid-column: span 2;

      @include __867 {
        grid-column: span 4;
      }

      @include __367 {
        grid-column: 1/-1;
      }

      .content {
        right: auto;
        left: 0;
        width: calc(var(--mw-container) / var(--column) * 4);

        @include __867 {
          width: 100%;
        }
      }
    }

    [select-times] {
      grid-column: span 2;

      @include __867 {
        grid-column: span 4;
      }

      @include __367 {
        grid-column: 1/-1;
      }

      .content {
        width: 100%;
      }
    }

    .inspire--select {
      height: 100%;

      .content {
        max-width: none;
      }
    }
  }
}
