.slider {
  position: relative;

  &--btn {
    --size: 3rem;
    max-width: var(--size);
    width: var(--size);
    height: var(--size);
    padding: 0;
    border: $ln;
    border-width: $i2;
    background-color: transparent;

    &[data-slide] {
      @extend %bg-image;
      background-size: 1.5rem auto;
    }

    &[data-slide="left"] {
      background-image: url(@svg/art/line-left.svg);
    }

    &[data-slide="right"] {
      background-image: url(@svg/art/line-right.svg);
    }
  }

  &--window {
    overflow: hidden;
    cursor: grab;

    &:active {
      cursor: grabbing;
      user-select: none;
    }
  }

  &--track {
    position: relative;
    display: flex;
    gap: $i20;
    transition: 1s transform;
  }

  &--photo {
    $size: 5.8125rem;
    $max: $size * 7;
    --size: #{$size};
    display: flex;
    gap: $i20;

    @include not-first-last($i32, $i32);

    @media (max-width: $max) {
      flex-direction: column;
    }

    .preview {
      order: 1;
      width: 100%;
      height: calc(var(--size) * 4 + 1.5rem);

      @media (max-width: $max) {
        order: initial;
        height: auto;
        min-height: 15.625rem;
        max-height: 50vh;
        aspect-ratio: 490/397;
      }

      img {
        @extend %fit-contain;
      }

      &[data-new] {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 5.3125rem;
          height: 1.875rem;
          @include bg-contain("@svg/art/new.svg");
          background-position: {
            x: left;
            y: top;
          }
        }
      }
    }

    .nav {
      @extend %f-column;
      position: relative;
      align-items: center;

      @media (max-width: $max) {
        flex-direction: row;
        width: fit-content;
      }

      [data-step] {
        --w: 1.5rem;
        --h: 1.5rem;
        --x: 10;
        --y: 2;
        @include square-ava(1.5rem);
        @include sprite("@svg/combo/arrow.svg", 12);
        padding: 0;
        background-color: transparent;

        &:hover {
          --y: 1;
        }

        @media (max-width: $max) {
          --x: 9;
        }
      }
    }

    .steps {
      @extend %f-column;
      min-width: var(--size);
      width: var(--size);
      max-height: calc(var(--size) * 4);
      overflow: hidden;

      @media (max-width: $max) {
        flex-direction: row;
        min-width: 0;
        width: 100%;
      }

      img {
        flex: 0 0 var(--size);
        width: 100%;
        height: var(--size);
        object-fit: cover;
        border-radius: 0.25rem;
        transition: 0.3s opacity;
        cursor: pointer;
        overflow: hidden;

        &:not(.active, :hover) {
          opacity: 0.5;
        }

        &.active {
          pointer-events: none;
          border: 0.0625rem solid $clr-mn-2;
        }
      }
    }
  }

  &--fake {
    @extend %f-center;
    width: 100%;
    gap: $i20;
    @include not-first-last($i20, $i20);

    @media (max-width: 43.6875rem) {
      flex-wrap: wrap;
      justify-content: space-between;

      .link {
        &--next,
        &--back {
          order: 1;
        }
      }
    }

    .btn--like {
      --ava: 1.5rem;
      margin-block-start: 0.25rem;
    }

    .content {
      width: 100%;
    }

    body & .ava {
      max-width: 13.9375rem;
      width: 100%;
      aspect-ratio: 223/146;
      object-fit: contain;

      @media (max-width: 43.6875rem) {
        max-width: 100%;
      }
    }

    .name {
      @include not-last($i8);
    }

    .subtitle {
      @include not-last($i16);
    }

    .price {
      font-size: $h3;
    }

    .description {
      line-height: 100%;
      letter-spacing: 0.02em;
    }

    .cart--header {
      justify-content: start;
    }
  }
}
