@mixin not-last($n: $i16) {
  &:not(:last-child) {
    margin-block-end: $n;
  }
}
@mixin not-first($n: $i16) {
  &:not(:first-child) {
    margin-block-start: $n;
  }
}
@mixin not-first-last($f: $i16, $l: $i16) {
  @include not-first($f);
  @include not-last($l);
}

@mixin not-hover-color($clr: $clr-f) {
  &:not(:hover) {
    color: $clr;
  }
}
